#app {
  position: "relative";
}

#skills {
  background-color: #eee;
}

hr {
  border-top: 2px solid rgb(0 0 0 / 20%);
}

.section-heading {
  font-size: 3rem;
  color: #201c4ef8;
}

.underline {
  border-bottom: 3px solid #f08b65;
}
