#app {
  position: relative;
}

main {
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
}

main > section {
  padding: 100px 150px;
}

footer > section {
  padding: 15px;
}

#contact {
  padding-bottom: 200px;
  text-align: center;
}

@media (max-width: 1080px) {
  main > section {
    padding: 100px 100px;
  }
}

@media (max-width: 768px) {
  main > section {
    padding: 80px 50px;
  }

  #contact {
    padding-bottom: 150px;
  }
}

@media (max-width: 576px) {
  main > section {
    padding: 60px 25px;
  }
}

.section-container {
  max-width: 1000px;
  margin: auto;
}

#about > .section-container {
  max-width: 900px;
}

#experience > .section-container {
  max-width: 700px;
}

#contact > .section-container {
  max-width: 600px;
}

.dark-section {
  background-color: var(--light-gray);
}

.header-1 {
  text-align: center;
  font-size: clamp(26px, 5vw, var(--fz-header-2));
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  white-space: nowrap;
}

.header-1::after {
  content: "";
  display: block;
  position: relative;
  top: 0px;
  width: 100%;
  height: 2px;
  margin-left: 20px;
  background-color: var(--lightest-slate);
}

.header-2 {
  font-size: clamp(18px, 4vw, var(--fz-xl));
}

.email-btn {
  padding: 0.5rem 1rem;
  color: var(--green);
  border-color: var(--green);
}

.email-btn:hover,
.email-btn:focus {
  background-color: var(--green-tint);
  box-shadow: 0 0 0 0.2rem var(--green-tint);
  outline: none;
  color: var(--green);
}

a {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  cursor: pointer;
  color: var(--green);
}

a:hover,
a:focus {
  color: var(--green);
}

:focus {
  outline: 2px dashed var(--green);
}

::selection {
  background-color: var(--white);
  color: var(--dark-slate);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-slate);
  font-weight: 600;
  line-height: 1.1;
}

hr {
  border-top: 1px solid var(--dark-slate);
}
